<!DOCTYPE html>
<html>

<head>
    <title>Mercado Liebre</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="img/logo-mercado-liebre.svg" class="logo">
            <div class="barra-bus"> <input type="text"> <button><i class="fas fa-search"></i></button></div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta</h2>
        </div>

        <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <a href="/index.html"><li>Ofertas</li></a>
                <a href="tiendasoficiales"><li>Tiendas Oficiales</li></a>
                <a href="vender"><li>Vender</li></a>
                <a href="ayuda"><li>Ayuda</li></a>
            </ul>
            <ul class="right-navbar">
                <a href="/register.html"><li>Creá tu cuenta <i class="fas fa-id-card"></i></li></a>
                <a href="/login.html"><li>Ingresá<i class="fas fa-sign-in-alt"></i></li></a>
                <a href="/miscompras"><li>Mis compras<i class="fas fa-shopping-basket"></i></li></a>
            </ul>
        </nav>

    </header>
    <section id="banner">
        <img src="img/img-home-banner.jpg">

    </section>
    <main>
        <h2>Basado en tu última visita</h2>
        <section id='last-search'>
            <div class="item">
                <img src="img/img-cafetera-moulinex.jpg">
                <div class="description">
                    <h3 class="item-title">Cafetera Moulinex</h3>
                    <div class="linea">
                        <p class="discount">40% off</p>
                        <p class="precio">$6.760</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/img-macbook-pro-2019.jpg">
                <div class="description">
                    <h3 class="item-title">MacBook Pro 2019</h3>
                    <div class="linea">
                        <p class="discount">20% off</p>
                        <p class="precio">$230.000</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/img-samsung-galaxy-s10.jpg">
                <div class="description">
                    <h3 class="item-title">Samsung Galaxy S10</h3>
                    <div class="linea">
                        <p class="discount">10% off</p>
                        <p class="precio">$70.500</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/img-tv-samsung-smart.jpg">
                <div class="description">
                    <h3 class="item-title">SmartTv Samsung 43"</h3>
                    <div class="linea">
                        <p class="discount">5% off</p>
                        <p class="precio">$23.200</p>
                    </div>
                </div>
        </section>

        <h2>Ofertas</h2>
        <section id='sale'>
            <div class="item">
                <img src="img/img-cafetera-moulinex.jpg">
                <div class="description"><i class="fas fa-truck"></i>
                    <h3 class="item-title">Cafetera Moulinex</h3>
                    <div class="linea">
                        <p class="discount">40% off</p>
                        <p>$6.760</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/img-macbook-pro-2019.jpg">
                <div class="description"><i class="fas fa-truck"></i>
                    <h3 class="item-title">MacBook Pro 2019</h3>
                    <div class="linea">
                        <p class="discount">20% off</p>
                        <p class="precio">$230.000</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/img-samsung-galaxy-s10.jpg">
                <div class="description"><i class="fas fa-truck"></i>
                    <h3 class="item-title">Samsung Galaxy S10</h3>
                    <div class="linea">
                        <p class="discount">10% off</p>
                        <p class="precio">$70.500</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/img-tv-samsung-smart.jpg">
                <div class="description"><i class="fas fa-truck"></i>
                    <h3 class="item-title">SmartTv Samsung 43"</h3>
                    <div class="linea">
                        <p class="discount">5% off</p>
                        <p class="precio">$23.200</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="cajafooter">
            <div class="footer-item">
                <i class="fas fa-credit-card"></i>
                <h4 class="pago">Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div class="footer-item">
                <i class="fas fa-gift"></i>
                <h4 class="envio">Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div class="footer-item">
                <i class="fas fa-user-shield"></i>
                <h4 class="seguridad">Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>

</html>