<!DOCTYPE html>
<html>

<head>
    <title>Mercado Liebre</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="img/logo-mercado-liebre.svg" class="logo">
            <div> <input type="text"> <button><i class="fas fa-search"></i></button></div>
            <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta</h2>
        </div>

        <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <a href="/index.html"><li>Ofertas</li></a>
                <a href="tiendasoficiales"><li>Tiendas Oficiales</li></a>
                <a href="vender"><li>Vender</li></a>
                <a href="ayuda"><li>Ayuda</li></a>
            </ul>
            <ul class="right-navbar">
               <a href="/register.html"> <li>Creá tu cuenta<i class="fas fa-id-card"></i></li></a>
                <a href="/login.html"><li>Ingresá<i class="fas fa-sign-in-alt"></i></li></a>
                <a href="/miscompras"><li>Mis compras<i class="fas fa-shopping-basket"></i></li></a>
            </ul>
        </nav>

    </header>
    <section class="formRegSole">
        
        <form action="/registro" method="POST">
            <h1>Formulario de Registro</h1>
        
            <input class="formulario01" type="text " name="nombreyapellido " id="nombreyapellido " placeholder="Nombre y Apellido " required>
            <input class="formulario01" type="text " name="usuario " id="usuario " placeholder="Usuario " required>
            <input class="formulario01" type="email" name="email" id="email" placeholder="E-mail"required> <br>
            <label for="fechaN">Fecha de Nacimiento</label>
            <input class="formulario01" type="date" name="fechaN" id="fechaN" reuired>
            <input class="formulario01" type="text " name="domicilio " id="domicilio " placeholder="Domicilio "required> <br><br>
        
            <label for="perfilDeUsuario "> Perfil de Usuario</label>
            <input type="radio" name="perfilDeUsuario" value="comprar"required>Comprar
            <input type="radio" name="perfilDeUsuario" value="vender"required> Vender <br> <br>
           
            <label for="categorias">Categorias de Interés</label> 
            <input type="checkbox" name="categorias" multiple>Electro 
            <input type="checkbox" name="categorias" multiple>Moda 
            <input type="checkbox" name="categorias" multiple>Hogar 
            <input type="checkbox" name="categorias" multiple>Jugueteria 
            <input type="checkbox" name="categorias" multiple>Vida Sana <br> <br>
            <label for="imagenPerfil">Selecciona Tu Imagen de Perfil</label> <br>
            <input type="file" name="imagenPerfil" id="imagenPerfil" accept=".jpg"> <br><br>
            <label for="password " required>Contraseña</label>
            <input class="formulario01" type="password " name="password " id="password "> <br>
            <label for="password " required>Confirmar Contraseña</label>
            <input class="formulario01" type="password " name="password " id="password "> <br>
            <input class="formulario01" type="submit" value="Enviar"> 
            <input class="formulario01" type="reset" value="Borrar"> 
    </section>
    </form>
    <footer>
        <div class="cajafooter">
            <div class="footer-item">
                <i class="fas fa-credit-card"></i>
                <h4 class="pago">Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div class="footer-item">
                <i class="fas fa-gift"></i>
                <h4 class="envio">Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div class="footer-item">
                <i class="fas fa-user-shield"></i>
                <h4 class="seguridad">Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>

</html>